

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}



.menu {
    text-align: center;
    background-color: #006d77;
    padding: 20px;

}



.logo {
    text-align: center;
    height: 50px;
    width: auto;
}

.imagen {
    border-radius: 20px;
    height: 150px;
}

.volver {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: rgb(27, 27, 59);
    text-decoration: none;
    padding: 20px;
}

.ofertaT{
    font-size: 1.2rem;
}
.titul {
    margin-top: 30px;
    margin-bottom: 10px;
   font-size: 20px;
   text-align: center;
}

.titulos{
margin: 10px;
text-align: center;
}

.subtitulo {
    font-size: 14.4px;
    text-align: center;
}

.titu3{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.textcot{
    font-size:12.8px;
    text-align: center;
    color: aliceblue;
    margin: 7px;
}

.cot{
    padding: 5px 10px;
    background-color: #43aa8b;
    border-radius: 10px;
    margin: 3px;
}
.cotdolar {
    text-align: center;   
}



.reco1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: rgb(27, 27, 59);
    text-decoration: none;
    padding: 20px;
    margin-bottom: -30px;
}

.reco {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: rgb(27, 27, 59);
    text-decoration: none;
    padding: 20px;
}

.reco2 {
    margin-top: -30px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: rgb(27, 27, 59);
    text-decoration: none;
    padding: 20px;
}


.contenedorBotones {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.btn {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #ee6c4d;
    position: relative;
    padding: 24px 25px;
    font-size: 1.4rem;
    margin: 20px;
    border-radius: 20px
}


.btn-1 {
    margin-top: 40px;
}

.btn-33 {
    margin-top: -200px;
}

.btn-6 {
    color: #0f4145;
    position: relative;
    text-align: center;
    text-decoration: none;
    background-color: #33cc33a7;
    margin: 20px;
    padding: 24px 25px;
    font-size: 1.4rem;
    border-radius: 15px;
    
}





/* DISEÑO CAJAS MODELOS */



.todosLosModelos {
    font-family: 'Josefin Sans', sans-serif;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelos {
    display: flex;
    flex-direction: column;
    color: black;

}

.titulo {
    font-size: 1.5rem;
}

.max {
    font-size: 1.5rem;
}

.ip {
    background-color: #f27059;
    color: #22333b;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 0.9rem;
    position: relative;
    margin: 20px;
    border-radius: 10px;
}

.preciolista {
    font-size: 1rem;
    margin-top: 5px;
    
}

.oferta{
    margin-top: 5px;
    color: azure;
}

.cuotas {
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: aliceblue;
    border-radius: 50px;
    color: #43aa8b;
}

.pesos1{
margin-top: 5px;
}
.pesos2{
margin-top: 5px;
}

.descuento {
    font-size: 1rem;
    text-align: center;
    margin-top: 5px;
    padding: 10px 10px;
    background-color: aliceblue;
    border-radius: 50px;
    color: #43aa8b;
}

@media (max-width: 766px){

    .titulos{
        text-align: center;
        font-size: 14.4px;
    }

    .titu{
        text-align: center;
        font-size: 20.8px;
        margin-bottom: 10px;
    }

 
    .subtitulo {
      font-size: 14.4px;
      text-align: center;
    }


    .c{
        text-align: center;
    }

    .textcot{
        font-size: 10.4px;
        text-align: center;
    }

    .cot{
            padding: 10px 5px;
            background-color: #43aa8b;
            border-radius: 10px;
            margin: 0px;
    }
}

@media (max-width: 320px){
    .h1 .subtitulo{
        text-align: center;
        margin-left: 79px;
        font-size: 1rem;
    }

    .titulos{
        text-align: center;
        }

}